.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 50px;
}